h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
:root {
    --primary-font: 'Roboto', sans-serif;
    --title-font: 'Raleway', sans-serif;
    --primary-black-color: #2E2F42;
    --primary-white-color: #FFFFFF;
    --primary-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --body-text-color: #434455;
    --helper-text-color: #8E8F99;
    --primary-success-color: #31D0AA;
    --primary-accent-color: #E7E9FC;
    --secondary-accent-color: #0288d1;
    --active-link-color: #f44336;
    --white: #FFF;
    --cloud: #F4F4FD;
}
body {
    font-family: var(--primary-font);
    color: var(--body-text-color);
    background-color: var(--primary-white-color);
    margin: 0;   
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;    
}
address {
    font-style: normal;
}
img {
	display: block;
    max-width: 100%;
}   
.container {
    max-width: 1128px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}
header .container {
    display: flex;  
}
.section-studio-list {
    display: flex; 
    justify-content: space-between;  
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
/* header */
header {
    background-color: var(--white);
    display: flex;
    margin: 0;
    list-style-type: none;
    padding: 24px 0;
    border-bottom: 1px solid var(--primary-accent-color);
}
nav {
    display: flex;
    gap: 76px;
    margin-right: 332px;   
}
.nav-menu {
    display: flex;
    gap: 40px;
}
.address-menu-list {
    display: flex;
    gap: 40px;
}
.header-logo {
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    color: var(--primary-brand-color);
}
.header-logo-studio {
    color: var(--primary-black-color);
}
.nav-menu-studio {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--primary-black-color);
}
.nav-menu-studio:hover,
.nav-menu-studio:focus {
    color: var(--pressed-state-color);
}
.address-menu-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}
.address-menu-list-item:hover,
.address-menu-list-item:focus {
    color: var(--pressed-state-color);
}
/* Studio */
.section-studio-first {
    background-color: var(--primary-black-color);
}
.section-studio-first .container {
    display: flex;
    text-align: center;
    padding: 188px 316px;
    flex-direction: column;
    align-items: center;
}
.webstudio-title {    
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--primary-white-color); 
    width: 496px;
}
.order-service {
    display: inline-flex;
    font-family: var(--primary-font);
    background: var(--primary-brand-color);
    color: var(--primary-white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    margin-top: 48px;
    max-width: 170px;
    align-content: center;
    flex-wrap: nowrap;
}
.order-service:hover,
.order-service:focus {
    background-color: var(--pressed-state-color);
}
.section-studio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-black-color);
    margin-bottom: 72px;
}
.section-studio-second,
.section-studio-third,
.section-studio-fourth {
    padding: 120px 0;
}
.section-studio-fourth {
    background-color: var(--cloud);
}
.section-studio-list-name {
    display: flex;
    background-color: var(--primary-white-color);
    margin-top: 32px;
    margin-bottom: 8px;
    justify-content: center;
}
.section-studio-list-item,
.section-studio-list-name {
    color: var(--primary-black-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.section-studio-list-text {
    color: var(--body-text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 8px;
}
.section-studio-second .section-studio-list {
    gap: 24px;
}
.section-studio-list-box {
    background-color: var(--primary-white-color);
    text-align: center;
    padding-bottom: 32px;
}
.team-photo {
    background-color: var(--primary-white-color);
}
/* footer */
.footer {
    background-color: var(--primary-black-color);
    padding-top: 101.5px;
    padding-bottom: 100px;
}
.footer-logo {
    font-family: var(--title-font);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    line-height: 1.17;
    color: var(--primary-brand-color);  
    
}
.footer-logo-studio {
    color: var(--cloud);
}
.footer-text {
    color: var(--cloud);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 17.5px; 
    width: 264px;
}
/* portfolio */
.portfolio-main {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-buttons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.portfolio-button-item {
    font-family: var(--primary-font);
    background-color: var(--cloud);
    color: var(--primary-brand-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--primary-accent-color);
    margin-bottom: 72px;
}
.portfolio-button-item:hover,
.portfolio-button-item:focus {
    color: var(--primary-white-color);
    background-color: var(--pressed-state-color);
}
.portfolio-job-projects-item {
    display: flex;
    border: 1px solid var(--primary-accent-color);
    }
.portfolio-job-projects-item .link {
    display: flex;
    width: 360px;
    padding-bottom: 32px;
    flex-direction: column;
    justify-content: flex-start;
    
}
.portfolio-job-projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
.portfolio-job-projects-name {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-black-color);
}
.portfolio-job-projects-theme {
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}
.portfolio-job-projects-name,
.portfolio-job-projects-theme {
    gap: 8px;
    padding: 0 16px;    
}
.portfolio-job-projects-list>.row-1,
.portfolio-job-projects-list>.row-2 {
    margin-bottom: 48px;
}
